body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#level-subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #FEF2BF;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  border: 10px solid black;
  border-radius: 20%;
  color: white;
  display: inline-block;
  font-size: 4rem;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  height: 200px;
  margin: 25px;
  width: 200px;
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
